*~
INSTALL
Makefile
Makefile.in
NEWS
README
TAGS
aclocal.m4
autom4te.cache
config.cache
config.log
config.status
configure
flickcurl-config
flickcurl.pc
flickcurl.png
flickcurl.rdf
flickcurl.spec
flickr.conf
gtk-doc.make
libtool
not-used/
old/
releases
setup*.sh
stylesheet.css
